        <div class="container-fluid">
            <div class="navbar">
                <div class="navbar-inner">
                    <ul class="nav">
                        <li class="active"><a href="#">Home</a></li>
                    </ul>
                </div>
            </div>
            <div class="row-fluid">
                <div class="starmite-row span12" id="list">
                    <!--
                    <a href="javascript:alert(1);">
                    <div class="starmite-fourth my-tile my-tile-1">
                        Hello1
                    </div>
                    </a>
                    
                    <a href="javascript:alert(2);">
                    <div class="starmite-fourth my-tile my-tile-2">
                        Hello2
                    </div>
                    -->

                </div>
            </div>

        </div>