        <div class="container-fluid">
            <div class="navbar">
                <div class="navbar-inner">
                    <ul class="nav">
                        <li class="active"><a href="#">Home</a></li>
                    </ul>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span10 offset1">
                    <form class="form-horizontal" id="loginForm">
                        <div class="control-group">
                            <label class="control-label">User</label>
                            <div class="controls">
                                <input name="username" type="text" placeholder="User name here" value="fannan1"></input>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Password</label>
                            <div class="controls">
                                <input name="pwd" type="password" placeholder="Password here" value="zhu88jie"></input>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"></label>
                            <div class="controls">
                                <button id="login"> Login </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>